body{
    background:linear-gradient(135deg,#9795f0 0%,#fbc8d4 100%);
}
.JTimg{
    grid-area: JTimg;
    text-align: center;
}
.ldbztitle{
    grid-area: ldbztitle;
    text-align: center;
    position: relative;
}
.ldbztitle p{
    margin-top:19px;
    font-size:x-large;
    font-weight:900
}
.mancontent{
    grid-area: mancontent;
}
.container{
    display: grid;
    width:1024px;
    margin: 0 auto;
    grid-template-areas: 
    'JTimg' 
    'ldbztitle' 
    'mancontent' ;
    grid-template-rows: 100px 70px;

}
.mancontent {
   border: 1px solid black;
   border-radius: 20px;
}
.container .mancontent{
    display: grid;
    grid-template-columns: repeat(3,341.3px);
    grid-template-rows: repeat(3,500px);
    grid-gap:1px;
}
.Sname-lzy{
    grid-column: 2/3;
    text-align: center;
}
.Sname-oyhj{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}
.Sname-ccf{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
.Sname-mmj{
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
}

.Sname-czq{
    grid-column: 1/2;
    grid-row:3/4;
    text-align: center;
}

.occu{
    font-size: larger;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}
[class^="Sname"]{
    border: 1px black solid;
    margin: 3px;
    border-radius: 10px;
}
.mancontent p{
    text-align: left;
    text-indent:2em;
}