body{
    background: linear-gradient(45deg,blue 0%,pink);
}

.jtback{
    text-align:center;
}

.jtback .jtbiao{
    width:96px;
}
.headtitle{
    margin-bottom: 10px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.page{
    width:auto;
    margin:0 auto;
}
.n-column{
    column-count:3;
    margin:5px 210px;

}
.poetryallbox{
    padding:10px;
    border: 1px solid pink;
    column-fill:balance;
    margin-bottom: 20px;
    overflow:hidden;
    box-shadow:0 0 5px;
    border-radius: 10px;

}
.poetryallbox div{
    text-align: center;
    margin:auto;
}
.Left{
    width:200px;
    border:1px plum solid;
    height:1000px;
    float:left;
    margin-bottom: 10px;
}
.Right{
    width:200px;
    border:1px solid darkblue;
    height:1000px;
    float:right;
    margin-bottom: 10px;
}